#header
{
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
	background-size: cover;
    position: relative;
    background-image: url("../../img/low_poly_background.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    .navbar-default 
    {
        max-width: 1349px;
        border: none;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        padding: 5px 0;
        background: transparent;
    }
    .navbar-brand 
    {
        padding: 15px 45px 0 15px; 
    }
    ul
    {
        padding-top: 5px;
    }
    a
    {
        padding: 15px 10px;
        line-height: 20px;
        color:  #BEBAD5;
        text-transform: uppercase;
         &:hover
        {
            color: #1AC6FF; 
        }
    }
    .login , .signup
    {
        background: transparent;
        color:  #BEBAD5;
    }
    .login
    {
        padding: 10px 10px;
        border-radius: 0;
        &:hover
        {
            color: #1AC6FF;
        }
    }
    .signup
    {
        color: #1AC6FF;
        transition: all .5s ease;
        border: 1px solid #1AC6FF;
        border-radius: 2px;
        padding-right: 25px;
        padding-left: 25px;
        &:hover
        {
            background: #1AC6FF;
            color: #fff;
        }
    }
    .hero 
    {
        h1
        {
            color: #fff;
            font-weight: 300;
            display: block;   
            margin: 20px 0 15px;
        }
        span 
        {
            color: #1AC6FF;
        }
        h5 
        {
            margin: 20px 0 30px;
            font-size: 24px;
            font-weight: 300;
            color: #fff;
        }
    }
    .btn-start
    {
        margin-top: 5px;
        padding: 12px 50px;
        margin: 5px;
        background: #1AC6FF;
        color: #fff;
        border-radius: 3px;
    }
    .btn-tour
    {
        margin-top: 5px;
        transition: all .5s ease;
        margin: 5px;
        padding: 12px 30px;
        background: transparent;
        border: 1px solid  #fff;
        color: #fff;
        border-radius: 3px;
        &:hover
        {
            background: #fff;
            color: #1AC6FF;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    #header li a 
    {
        padding-left: 0; 
        padding-right: 1;   
    }
    #header .login
    {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-right
    {
        margin-right: -30px;
        padding: 0 0 0 10px;
    }

}
@media screen and (max-width: 768px){
    #header ul a 
    {
        padding: 5px 10px;
    }
}
#banner
{
    max-height: 700px;
}
@media screen  and (max-width: 767px){
    .hero
    {
        padding-top: 150px;
        padding-bottom: 220px;
        h1
        {
            font-size: 29px; 
        }
    }
}
@media screen and (max-width: 480px){
    .hero
    {
        padding-top: 145px;
        padding-bottom: 140px;
        button
        {
            width: 100%;
        }
    }
}
@media screen and (min-width: 768px){
    .hero
    {
        padding-top: 120px;
        padding-bottom: 175px;
        h1
        {
            font-size: 58px; 
        }
    }
}
@media screen and (min-width: 1200px){
    .hero
    {
        padding-top: 140px;
        padding-bottom: 240px;
        h1
        {
            font-size: 58px; 
        }
    }
}
@media screen and (min-width: 1363px){
    .hero
    {
        padding-top: 160px;
        padding-bottom: 260px;
        h1
        {
            font-size: 58px; 
        }
    }
}
#clients
{
    background: #F0F0F0;
    ul 
    {
        margin: 23px -5px;
        li
        {
            padding: 0 25px;
        } 
    }
}
@media screen and (max-width: 400px)
{
    #clients ul
    {
        padding-left: 20%;
    }
}
@media screen and (min-width: 401px){
    #clients ul
    {
        padding-left: 10%;
        li
        {
            padding: 0 5px;
            &:nth-child(4)
            {
                padding-left: 2%;
            }
            &:nth-child(5)
            {
                padding-left: 25%;
            }
        }
    }
}
@media screen and (min-width: 585px){
    #clients ul
    {
        padding-left: 9%;
        li
        {
            padding: 0 5px;
            :nth-child(4)
            {
                padding-left: 15%;
            }
            &:nth-child(5)
            {
                padding-left: 0;
            }
        }
    }
}
@media screen and (min-width: 768px){
    #clients ul
    {
        padding-left: 15%;
        li
        {
            padding: 0 10px;
            &:nth-child(4)
            {
                padding-left: 15%;
            }
            &:nth-child(5)
            {
                padding-left: 0;
            }
        }
    }
}
@media screen and (min-width: 991px){
    #clients ul
    {
        padding-left: 5%;
        li
        {
            padding: 0 10px;
            &:nth-child(4)
            {
                padding-left: 0;
            }
            &:nth-child(5)
            {
                padding-left: 0;
            }
        }
    }
}
@media screen and (min-width: 1200px){
    #clients ul
    {
        padding-left: 10%;
        li
        {
            padding: 0 20px;
            &:nth-child(4)
            {
                padding-left: 0;
            }
            &:nth-child(5)
            {
                padding-left: 0;
            }
        }
    }
}
#about
{
    ul
    {
        padding-left: 0px;
        margin-top: 80px;
        margin-bottom: 80px;
        li
        {
            margin-left: -30px;
            display: inline-block;
            a:hover
            {
                background: #1AC6FF;
                color: #fff;
            }
            a 
            {
                border: 1px solid #E9E9E9;
                padding: 20px 60px; 
                text-decoration: none;
                color: #606060; 
                display: block;
            }
        }
    }
    h3
    {
        margin: 20px 0 15px;
        font-weight: 300;
        font-size: 34px;
    }
    span
    {
        color:  #1AC6FF;
    }
    .heading
    {
        color:  #000;
    }
    h2
    {
        font-family: "PT Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
        line-height: 1.1;
        font-size: 40px;
        font-weight: 300px;
    }
    article
    { 
        a
        {
            transition: all .5s ease;
            margin: 15px 5px 0 5px;
            text-transform: uppercase;
            border: 1px solid #1AC6FF;
            padding: 15px 30px; 
            text-decoration: none;
            color: #1AC6FF; 
            &:hover
            {
                background: #1AC6FF;
                color: #fff;
            }
        }
        p
        {
            font-family: "PT Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 16px;
            line-height: 25px;
        }
        i
        {
            display: block;
            font-size: 80px;
            color: #1AC6FF;
        }
    }
}
#process
{
    margin: 20px 0 90px;
    p 
    {
        margin-bottom: 20px;
        line-height: 1.7;
    }
    span
    {
        color:  #1AC6FF;
    }
    h3
    {
        display: block;
        margin: 20px 0 15px;
        font-weight: 300;
        font-size: 34px;
    }
    hr
    {
        display: inline-block;
        width: 100%;
        height: 1px;
    }
}
@media screen and(max-width: 767px){
    #process h3 
    {
        font-size: 23.8px;
        display: block;
    }
}
#features
{
    background-color: #f0f0f0;
    padding: 0 0 30px;
    margin-bottom: 50px; 
    .tab-pane
    {
        float: right;
    }
    .tab-info
    {
        float: left;
        position: relative;
        display: block;
        padding: 25px 28px;
        width: 346px;
        .tab-title
        {
            padding-bottom: 10px;
            font-size: 17px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.23;
        }
        .tab-desc
        {
            display: block;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.86;
            color: #606060;
        }
    }
    ul
    {
        margin-top: 50px;
        li
        {
            a
            {
                color: #1AC6FF;
            }
            div
            {
                border-radius: 5px;
                &:hover
                {
                    background: #1AC6FF;
                    color: #ffffff;
                    .tab-desc
                    {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1200px){
    #features
    {
        img
        {
            padding-top: 40px;
        }
    }
}
@media screen and (max-width: 991px){
    #features
    {
        ul
        {
            li
            {
                display: inline-block;
                .tab-info
                {
                    max-width: 220px;
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    #features
    {
        ul
        {
            li
            {
                display: inline-block;
                .tab-info
                {
                    margin: 0 10px 0 15px;
                    padding: 5px 5px;
                    max-width: 150px;
                    height: auto;
                }
                .tab-desc
                {
                    line-height: 0.5;
                }
            }
        }
    }
}
@media screen and (max-width: 662px){
    #features
    {
        ul
        {
            li
            {
                display: inline-block;
                .tab-info
                {
                    margin: 0 8px 0 8px;
                    padding: 5px 5px;
                    max-width: 120px;
                    height: auto;
                }
            }
        }
    }
}
@media screen and (max-width: 540px){
    #features
    {
        ul
        {
            li
            {
                text-align: left;
                float: left;
                width: 100%;
                .tab-info
                {
                    max-width: 200px;
                }
            }
        }
    }
}
#features-list
{
    margin: 50px 0;
    i
    {
        font-size: 47px;
        color: #1AC6FF;
        display: block;
    }
    span
    {
        font-weight: 12.8px;
        line-height: 3;
    }
}
#footer
{
    line-height: 2;
    color: #ffffff;
    padding: 50px 0;
    background-image: url("../../img/low_poly_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: top center;
    background-attachment: fixed;
    img
    {
        margin-bottom: 20px;
    }
    span
    {
        color: #1AC6FF;
        font-size: 47px;
    }
    .col-sm-3
    {
        span
        {
            font-size: 20px;
            margin-right: 5px;
        }
    }
    .colo
    {
        color: #ffffff;
    }
}
.back-to-top
{
    transition: opacity 0.5s ease;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    opacity: 0.4;
    &:hover
    {
        background: #000000;
        opacity: 0.8;
        color: #1AC6FF;
    }
}

